<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hl.domain.mapper.BlogMapper">

    <select id="mapToIdAndViews" resultType="java.util.HashMap">
        select blog_id,blog_views from hl_blog
    </select>
</mapper>